*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 70px;
    font-family: Poppins;
}
.every{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 300px;
    gap: 40px;
}
table{
    border-collapse: collapse;
    width: 75%;
    height: 70vh;
    /* margin-top: 50px; */   
}
.caption{
    gap: 7px;
    display: flex;
    flex-direction: column;
   
    
}
th, td{
    padding: 15px;
    border-bottom: 1px solid rgb(201, 190, 190);
}
.name{
    width: 60%;
}
.num{
    font-weight: bold;
}
.name{
    font-weight: bold;
}



@media screen and (max-width: 950px) {
    main{

    }
    .every{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }
    .caption p{
        width: 85%;
    }
    .caption{
        align-items: center;
        text-align: center;
    }
    .total{
        text-align: center;
        width: 50px;
    }
    tr{
        font-size: smaller;
    }
    .num{
        padding-right: 50px;
    }
    
}